*{
    box-sizing: border-box; /* CÁLCULO AUTOMÁTICO DE BOX VERIFIQUE ANTES */
}
body {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}



/*h1 {

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-color: blueviolet;
    border: solid;
    font-size: 2em;
}*/
#telagame {
    margin: 15px;
    width: 1200px;
    height: 700px;
    border-color:5px solid blue;
    position: relative;
    overflow: hidden;
    background-color: transparent;

 


    /*
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid;
    background-color: transparent;*/
  }

  .nave {
    position: absolute;
    width: 100px;
    left: calc(50% - 30px);

  }

.asteroideIMG {

    position:absolute;
    width: 300px;
    height: 300px;
    /*border: solid;*/

  }
  .par-asteroides{

    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .asteroide {

    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  #progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 70px;
  }