@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Bungee+Spice&display=swap');
*{
    box-sizing: border-box; /* CÁLCULO AUTOMÁTICO DE BOX VERIFIQUE ANTES */
}
body {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    background-color: #090827;
    font-family: 'Bungee Shade', cursive;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    color: aliceblue;
    font-size: 50px;
    padding: 10px;
    margin: 10px;
}

#telagame {
    margin: 15px;
    width: 1200px;
    height: 700px;
    border-color:5px solid rgb(72, 10, 94);
    position: relative;
    overflow: hidden;
    background-color: transparent;
    border-radius: 24px;
    background: #27272b;
    box-shadow:  -14px 14px 23px #1c1c1f, 14px -14px 23px #323237;


}

.nave {
    position: absolute;
    width: 100px;
    left: calc(50% - 30px);
}

.asteroides{

    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.asteroide {

    display: flex;
    position:absolute;
    flex-direction: column;
    align-items: center;
    
    width: auto;
    height: auto;
    
    /*width: 100px;
    height: 100px;*/

}
  
.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 70px;
    z-index: 100;
    color: aliceblue;
}
.butoes{

    display: flex;
    font-family: 'Bungee Spice', cursive;
    font-size: 10px;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
    font-size: large;
    border-radius: 30px;
    background: #1a0326;
    box-shadow:  -8px 8px 7px #14021d, 8px -8px 7px #20042f;
}
